.story-card-mobile {
  position: relative;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  margin-bottom: 0;
  background: 0 0;
  color: #fff;
  background-color: #000;
}

.story-card-mobile-container {
  flex-flow: row-reverse;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  margin: 5% 0;
  font-size: 1.625rem;
  font-weight: 400;
  width: 52%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 0 0 3rem;
  z-index: 3;
}

.card-text > h1 {
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
}

.card-text > h2 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0.75em 0 0.25em;
}

.card-image-container {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  box-sizing: border-box;
}

.card-animation-container {
  margin: -8% 0 -4% -15%;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100px;
}

.card-animation-container > img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.card-animation {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: #000;
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 15em;
  padding: 0.25em 0.65em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2em 0 #000;
  border-radius: 0.75em;
}

.card-animation-image {
  margin: 0 1em 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.card-animation-image > img {
  max-width: 100%;
  height: 3em;
  border: 0;
}

.card-animation-text {
    flex-grow: 1;
    flex-shrink: 1;
    margin: .3em 0;
}

.animation-text-1 {
    font-weight: 600;
}

.animation-text-2 {
    color: #0071eb;
    font-size: .75em;
}

@media only screen and (min-width: 550px) {
  .story-card-mobile {
    padding: 70px 45px;
  }

  .animation-text-2 {
    font-size: .9em;
}
}

@media only screen and (max-width: 549px) {
  .card-text {
    font-size: 1.125rem;
  }

  .card-text > h1 {
    font-size: 1.625rem !important;
  }

  .card-text > h2 {
    font-size: 1.125rem !important;
  }
}

@media only screen and (max-width: 949px) {
  .story-card-mobile-container {
    flex-direction: column;
  }

  .card-text {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .card-text > h1 {
    font-size: 2.5rem;
  }

  .card-text > h2 {
    font-size: 1.25rem;
  }

  .card-image-container {
    width: 100%;
    max-width: 600px;
    margin-top: 1em;
  }

  .card-animation-container {
    margin: -8% 0 0 0;
  }

  .card-animation {
    padding: 0.35em 0.75em;
  }
}

@media only screen and (min-width: 950px) {
  .card-animation {
    padding: 0.5em 0.75em;
  }

  .card-animation-image > img {
    height: 4.5em;
  }
}
@media only screen and (min-width: 1450px) {
  .card-animation-image > img {
    height: 5em;
  }
}
